@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar completely for specific containers */
.hide-scrollbar::-webkit-scrollbar {
  width: 0;
  height: 0;
  background: transparent; /* optional */
}

.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* For KaTeX display */
.katex-display::-webkit-scrollbar {
  width: 0;
  height: 0;
  background: transparent;
}

.katex-display {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


.katex-display {
  overflow-x: auto;
  overflow-y: hidden;
  max-width: 100%;
  padding: 0.2rem;
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
}

div[role="menu"] {
  @apply bg-popover text-popover-foreground rounded-xl p-1.5 shadow-md overflow-y-auto overflow-x-hidden border min-w-[8rem] z-50;
}
div[role="menuitem"] {
  @apply relative flex cursor-pointer items-center gap-2 rounded-xl px-3 h-10 py-2 text-sm outline-none select-none hover:bg-accent hover:text-accent-foreground focus:bg-accent focus:text-accent-foreground;
}
.button {
  @apply inline-flex items-center justify-center gap-2 whitespace-nowrap rounded-md text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 [&_svg]:pointer-events-none [&_svg]:size-4 [&_svg]:shrink-0 bg-primary text-primary-foreground shadow hover:bg-primary/90 h-9 px-4 py-2;
}

.button.disabled {
  @apply opacity-50 pointer-events-none;
}

input[type="password"]::-ms-reveal,
input[type="password"]::-webkit-credentials-auto-fill-button {
  display: none;
}

/* Small scrollbar for specific elements */
.scrollbar-sm::-webkit-scrollbar {
  @apply w-1 h-1;
}

/* Global scrollbar for all elements */
body *::-webkit-scrollbar {
  @apply w-2 h-2;
}

body *::-webkit-scrollbar-track {
  /* @apply bg-accent/30; */
}

body *::-webkit-scrollbar-thumb {
  @apply bg-muted-foreground/50 rounded-full;
}

/* Hover effect for thumb */
body *::-webkit-scrollbar-thumb:hover {
  @apply bg-muted-foreground;
}

/* Responsive for small screens */
@media (max-width: 640px) {
  body *::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }
}

