@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  code.hljs,
  code[class*="language-"],
  pre[class*="language-"] {
    word-wrap: normal;
    background: none;
    -webkit-hyphens: none;
    hyphens: none;
    line-height: 1.5;
    tab-size: 4;
    white-space: pre;
    word-break: normal;
    word-spacing: normal;
  }

  [dir="ltr"] code.hljs,
  [dir="ltr"] code[class*="language-"],
  [dir="ltr"] pre[class*="language-"] {
    text-align: left;
  }

  [dir="rtl"] code.hljs,
  [dir="rtl"] code[class*="language-"],
  [dir="rtl"] pre[class*="language-"] {
    text-align: right;
  }

  pre[class*="language-"] {
    border-radius: 0.3em;
    overflow: auto;
  }

  :not(pre) > code.hljs,
  :not(pre) > code[class*="language-"] {
    border-radius: 0.3em;
    padding: 0.1em;
    white-space: normal;
  }

  /* Dark Theme */
  :is(.light .dark, .dark) code.hljs,
  :is(.light .dark, .dark) code[class*="language-"],
  :is(.light .dark, .dark) pre[class*="language-"] {
    color: #fff;
  }

  :is(.light .dark, .dark) .hljs-comment {
    color: #616161;
  }

  :is(.light .dark, .dark) .hljs-meta {
    color: #fff9;
  }

  :is(.light .dark, .dark) .hljs-built_in,
  :is(.light .dark, .dark) .hljs-class .hljs-title {
    color: #e9950c;
  }

  :is(.light .dark, .dark) .hljs-doctag,
  :is(.light .dark, .dark) .hljs-formula,
  :is(.light .dark, .dark) .hljs-keyword,
  :is(.light .dark, .dark) .hljs-literal {
    color: #70cff8;
  }

  :is(.light .dark, .dark) .hljs-addition,
  :is(.light .dark, .dark) .hljs-attribute,
  :is(.light .dark, .dark) .hljs-meta-string,
  :is(.light .dark, .dark) .hljs-regexp,
  :is(.light .dark, .dark) .hljs-string {
    color: #b9f18d;
  }

  :is(.light .dark, .dark) .hljs-attr,
  :is(.light .dark, .dark) .hljs-number,
  :is(.light .dark, .dark) .hljs-selector-attr,
  :is(.light .dark, .dark) .hljs-selector-class,
  :is(.light .dark, .dark) .hljs-selector-pseudo,
  :is(.light .dark, .dark) .hljs-template-variable,
  :is(.light .dark, .dark) .hljs-type,
  :is(.light .dark, .dark) .hljs-variable {
    color: #fbbc88;
  }

  :is(.light .dark, .dark) .hljs-bullet,
  :is(.light .dark, .dark) .hljs-link,
  :is(.light .dark, .dark) .hljs-selector-id,
  :is(.light .dark, .dark) .hljs-symbol,
  :is(.light .dark, .dark) .hljs-section,
  :is(.light .dark, .dark) .hljs-title {
    color: #faf594;
  }

  /* Light Theme */
  .light code.hljs,
  .light code[class*="language-"],
  .light pre[class*="language-"] {
    color: #383a42;
  }

  .light .hljs-comment,
  .light .hljs-quote {
    color: #a0a1a7;
    font-style: italic;
  }

  .light .hljs-doctag,
  .light .hljs-formula,
  .light .hljs-keyword {
    color: #a626a4;
  }

  .light .hljs-deletion,
  .light .hljs-name,
  .light .hljs-section,
  .light .hljs-selector-tag,
  .light .hljs-subst {
    color: #e45649;
  }

  .light .hljs-literal {
    color: #0184bb;
  }

  .light .hljs-addition,
  .light .hljs-attribute,
  .light .hljs-meta-string,
  .light .hljs-regexp,
  .light .hljs-string {
    color: #50a14f;
  }

  .light .hljs-built_in,
  .light .hljs-class .hljs-title {
    color: #c18401;
  }

  .light .hljs-attr,
  .light .hljs-number,
  .light .hljs-selector-attr,
  .light .hljs-selector-class,
  .light .hljs-selector-pseudo,
  .light .hljs-template-variable,
  .light .hljs-type,
  .light .hljs-variable {
    color: #986801;
  }

  .light .hljs-bullet,
  .light .hljs-link,
  .light .hljs-meta,
  .light .hljs-selector-id,
  .light .hljs-symbol,
  .light .hljs-title {
    color: #4078f2;
  }

  .light .hljs-emphasis {
    font-style: italic;
  }

  .light .hljs-strong {
    font-weight: 700;
  }

  .light .hljs-link {
    text-decoration: underline;
  }

  /* PrismJS Tokens */
  .token.cdata,
  .token.comment,
  .token.doctype,
  .token.prolog {
    color: #a9aec1;
  }

  .token.punctuation {
    color: #fefefe;
  }

  .token.constant,
  .token.deleted,
  .token.property,
  .token.symbol,
  .token.tag {
    color: #ffa07a;
  }

  .token.boolean,
  .token.number {
    color: #00e0e0;
  }

  .token.attr-name,
  .token.builtin,
  .token.char,
  .token.inserted,
  .token.selector,
  .token.string {
    color: #abe338;
  }

  :root {
    --radius: 0.625rem;
    --background: 0 0% 100%;
    --foreground: 0 0.02% 3.94%;
    --card: 0 0% 100%;
    --card-foreground: 0 0.02% 3.94%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0.02% 3.94%;
    --primary: 0 0.02% 9.06%;
    --primary-foreground: 0 0.5% 98.03%;
    --secondary: 0 0.24% 96.06%;
    --secondary-foreground: 0 0.02% 9.06%;
    --muted: 0 0.24% 96.06%;
    --muted-foreground: 0 0.01% 45.16%;
    --accent: 0 0.24% 96.06%;
    --accent-foreground: 0 0.02% 9.06%;
    --destructive: 351.72 100% 40.53%;
    --border: 0 0.09% 89.82%;
    --input: 0 0.09% 89.82%;
    --ring: 0 0.02% 63.02%;
    --chart-1: var(--color-blue-300);
    --chart-2: var(--color-blue-500);
    --chart-3: var(--color-blue-600);
    --chart-4: var(--color-blue-700);
    --chart-5: var(--color-blue-800);
    --sidebar-background: 0 0.5% 98.03%;
    --sidebar-foreground: 0 0.02% 3.94%;
    --sidebar-primary: 0 0.02% 9.06%;
    --sidebar-primary-foreground: 0 0.5% 98.03%;
    --sidebar-accent: 0 0.24% 96.06%;
    --sidebar-accent-foreground: 0 0.02% 9.06%;
    --sidebar-border: 0 0.09% 89.82%;
    --sidebar-ring: 0 0.02% 63.02%;
    --surface: 0 0.37% 97.38%;
    --surface-foreground: var(--foreground);
    --code: var(--surface);
    --code-foreground: var(--surface-foreground);
    --code-highlight: 0 0.18% 94.76%;
    --code-number: 0 0.01% 45.61%;
    --selection: 0 0.02% 3.94%;
    --selection-foreground: 0 0% 100%;
  }

  .dark {
    --background: 0 0.02% 3.94%;
    --foreground: 0 0.5% 98.03%;
    --card: 0 0.02% 9.06%;
    --card-foreground: 0 0.5% 98.03%;
    --popover: 0 0.01% 14.94%;
    --popover-foreground: 0 0.5% 98.03%;
    --primary: 0 0.09% 89.82%;
    --primary-foreground: 0 0.02% 9.06%;
    --secondary: 0 0.01% 14.94%;
    --secondary-foreground: 0 0.5% 98.03%;
    --muted: 0 0.01% 14.94%;
    --muted-foreground: 0 0.02% 63.02%;
    --accent: 0 0.01% 25.05%;
    --accent-foreground: 0 0.5% 98.03%;
    --destructive: 358.76deg 100% 69.84%;
    --border: 0 0% 18.43%;
    --input: 0 0% 22.75%;
    --ring: 0 0.01% 45.16%;
    --chart-1: var(--color-blue-300);
    --chart-2: var(--color-blue-500);
    --chart-3: var(--color-blue-600);
    --chart-4: var(--color-blue-700);
    --chart-5: var(--color-blue-800);
    --sidebar-background: 0 0.02% 9.06%;
    --sidebar-foreground: 0 0.5% 98.03%;
    --sidebar-primary: 225.34deg 84.1% 48.99%;
    --sidebar-primary-foreground: 0 0.5% 98.03%;
    --sidebar-accent: 0 0.01% 14.94%;
    --sidebar-accent-foreground: 0 0.5% 98.03%;
    --sidebar-border: 0 0% 18.43%;
    --sidebar-ring: 0 0.01% 32.2%;
    --surface: 0 0.02% 8.61%;
    --surface-foreground: 0 0.02% 63.02%;
    --code: var(--surface);
    --code-foreground: var(--surface-foreground);
    --code-highlight: 0 0.01% 15.04%;
    --code-number: 0 0.02% 64.48%;
    --selection: 0 0.09% 89.82%;
    --selection-foreground: 0 0.02% 9.06%;
  }

  [data-theme="slate"] {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
  }
  [data-theme="slate"].dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 223, 84%, 5%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --sidebar-accent: 217, 33%, 17%;
    --sidebar-background: 223, 50%, 9%;
  }

  [data-theme="stone"] {
    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;
    --primary: 24 9.8% 10%;
    --primary-foreground: 60 9.1% 97.8%;
    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;
    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;
    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --ring: 20 14.3% 4.1%;
    --radius: 0.5rem;
  }
  [data-theme="stone"].dark {
    --background: 0, 0%, 13%;
    --foreground: 60 9.1% 97.8%;
    --card: 0, 0%, 19%;
    --card-foreground: 60 9.1% 97.8%;
    --popover: 0, 0%, 18%;
    --popover-foreground: 60 9.1% 97.8%;
    --primary: 60 9.1% 97.8%;
    --primary-foreground: 24 9.8% 10%;
    --secondary: 0, 0%, 26%;
    --secondary-foreground: 60 9.1% 97.8%;
    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;
    --accent: 0, 0%, 26%;
    --accent-foreground: 60 9.1% 97.8%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 0, 0%, 24%;
    --input: 0, 0%, 27%;
    --ring: 24 5.7% 82.9%;
    --sidebar-background: 0, 0%, 9%;
    --sidebar-accent: 0, 0%, 19%;
  }

  [data-theme="gray"] {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 220.9 39.3% 11%;
    --primary-foreground: 210 20% 98%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 224 71.4% 4.1%;
    --radius: 0.5rem;
  }
  [data-theme="gray"].dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 210 20% 98%;
    --primary-foreground: 220.9 39.3% 11%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 216 12.2% 83.9%;
  }

  [data-theme="neutral"] {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --radius: 0.5rem;
  }
  [data-theme="neutral"].dark {
    --background: 225, 5%, 17%;
    --foreground: 210 20% 98%;
    --card: 240, 4%, 26%;
    --card-foreground: 210 20% 98%;
    --popover: 240, 4%, 26%;
    --popover-foreground: 210 20% 98%;
    --primary: 225 63.79% 54.51%;
    --primary-foreground: 210 20% 98%;
    --secondary: 232, 10%, 29%;
    --secondary-foreground: 210 20% 98%;
    --muted: 0, 0%, 38%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 232, 10%, 29%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 217, 10%, 41%;
    --input: 0, 0%, 38%;
    --ring: 0 0% 83.1%;
    --sidebar-background: 220, 8%, 14%;
    --sidebar-accent: 232, 10%, 29%;
    --sidebar-border: 232, 10%, 29%;
  }

  [data-theme="red"] {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 72.2% 50.6%;
    --primary-foreground: 0 85.7% 97.3%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 72.2% 50.6%;
    --radius: 0.5rem;
  }
  [data-theme="red"].dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 72.2% 50.6%;
    --primary-foreground: 0 85.7% 97.3%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 72.2% 50.6%;
  }

  [data-theme="rose"] {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 346.8 77.2% 49.8%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 346.8 77.2% 49.8%;
    --radius: 0.5rem;
  }
  [data-theme="rose"].dark {
    --background: 20 14.3% 4.1%;
    --foreground: 0 0% 95%;
    --card: 24 9.8% 10%;
    --card-foreground: 0 0% 95%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;
    --primary: 346.8 77.2% 49.8%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 346.8 77.2% 49.8%;
  }

  [data-theme="orange"] {
    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;
    --primary: 24.6 95% 53.1%;
    --primary-foreground: 60 9.1% 97.8%;
    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;
    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;
    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --ring: 24.6 95% 53.1%;
    --radius: 0.5rem;
  }
  [data-theme="orange"].dark {
    --background: 20 14.3% 4.1%;
    --foreground: 60 9.1% 97.8%;
    --card: 20 14.3% 4.1%;
    --card-foreground: 60 9.1% 97.8%;
    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;
    --primary: 20.5 90.2% 48.2%;
    --primary-foreground: 60 9.1% 97.8%;
    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 60 9.1% 97.8%;
    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 60 9.1% 97.8%;
    --destructive: 0 72.2% 50.6%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
    --ring: 20.5 90.2% 48.2%;
  }

  [data-theme="green"] {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 142.1 76.2% 36.3%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 142.1 76.2% 36.3%;
    --radius: 0.5rem;
  }
  [data-theme="green"].dark {
    --background: 20 14.3% 4.1%;
    --foreground: 0 0% 95%;
    --card: 24 9.8% 10%;
    --card-foreground: 0 0% 95%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;
    --primary: 142.1 70.6% 45.3%;
    --primary-foreground: 144.9 80.4% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 142.4 71.8% 29.2%;
  }

  [data-theme="blue"] {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 0.5rem;
  }
  [data-theme="blue"].dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;
  }

  [data-theme="yellow"] {
    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;
    --primary: 47.9 95.8% 53.1%;
    --primary-foreground: 26 83.3% 14.1%;
    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;
    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;
    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --ring: 20 14.3% 4.1%;
    --radius: 0.5rem;
  }
  [data-theme="yellow"].dark {
    --background: 20 14.3% 4.1%;
    --foreground: 60 9.1% 97.8%;
    --card: 20 14.3% 4.1%;
    --card-foreground: 60 9.1% 97.8%;
    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;
    --primary: 47.9 95.8% 53.1%;
    --primary-foreground: 26 83.3% 14.1%;
    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 60 9.1% 97.8%;
    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 60 9.1% 97.8%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
    --ring: 35.5 91.7% 32.9%;
  }

  [data-theme="voilet"] {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 262.1 83.3% 57.8%;
    --primary-foreground: 210 20% 98%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 262.1 83.3% 57.8%;
    --radius: 0.5rem;
  }
  [data-theme="voilet"].dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 263.4 70% 50.4%;
    --primary-foreground: 210 20% 98%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 263.4 70% 50.4%;
  }
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

@layer base {
  * {
    font-family: "Roboto", sans-serif;
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  .logo {
    /* @apply font-semibold; */
    font-family: "Audiowide";
  }
  .calendar {
    display: grid;
    grid-template-columns: repeat(53, minmax(10px, 1fr));
    grid-template-rows: repeat(7, minmax(10px, 1fr));
    gap: 3px;
  }
}

div[role="menu"] {
  @apply bg-popover text-popover-foreground rounded-md p-1 shadow-md overflow-y-auto overflow-x-hidden border min-w-[8rem] z-50;
}
div[role="menuitem"] {
  @apply relative flex cursor-pointer items-center gap-2 rounded-sm px-2 py-1.5 text-sm outline-none select-none hover:bg-accent hover:text-accent-foreground focus:bg-accent focus:text-accent-foreground;
}
.button {
  @apply inline-flex items-center justify-center gap-2 whitespace-nowrap rounded-md text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 [&_svg]:pointer-events-none [&_svg]:size-4 [&_svg]:shrink-0 bg-primary text-primary-foreground shadow hover:bg-primary/90 h-9 px-4 py-2;
}

.button.disabled {
  @apply opacity-50 pointer-events-none;
}

.scrollbar-sm::-webkit-scrollbar {
  @apply w-1 h-1;
}
*::-webkit-scrollbar {
  @apply w-2 h-2;
}

*::-webkit-scrollbar-track {
  @apply bg-accent rounded-full;
}
*::-webkit-scrollbar-thumb {
  @apply bg-muted-foreground/50 rounded-full;
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
  line-clamp: 2;
}

.tiptap::-webkit-scrollbar {
  @apply hidden;
}

.ProseMirror {
  white-space: pre-wrap;
}
.ProseMirror code {
  tab-size: 4;
  -moz-tab-size: 4;
}
.tiptap {
  tab-size: 4;
}
.tiptap .pre-wrapper {
  @apply rounded-2xl overflow-hidden my-4;
}
.tiptap pre {
  white-space: pre;
  overflow-x: auto;
  tab-size: 4;
}
.node-codeBlock {
  @apply my-4;
}

.tiptap {
  white-space: pre-wrap;
}

div:has(> .tiptap.ProseMirror) {
  flex: 1;
  overflow-y: auto;
}
.tiptap.ProseMirror {
  @apply max-w-screen-md;
}
.tiptap {
  @apply relative w-full border-none outline-none mx-auto bg-background text-foreground font-sans leading-relaxed overflow-x-hidden p-4;

  img {
    @apply max-h-[50vh] my-4 rounded-xl;
  }
  .code-block {
    @apply relative;

    select {
      @apply absolute bg-white right-[0.5rem] left-[0.5rem];
      position: absolute;
      background-color: var(--white);
      background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="Black" d="M7 10l5 5 5-5z"/></svg>');
      right: 0.5rem;
      top: 0.5rem;
    }
  }
  li {
    margin-bottom: 8px;
  }
  ul[data-type="taskList"] {
    list-style: none;
    margin-left: 0;
    padding: 0;

    li[data-checked="true"] p {
      @apply text-muted-foreground line-through;
    }

    input[type="checkbox"]:checked {
      @apply bg-primary;
    }
    input[type="checkbox"]:checked::before {
      content: "";
      /* Unicode for check mark */
      @apply absolute inset-0 flex items-center justify-center text-black;
      background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-check h-4 w-4"><path d="M20 6 9 17l-5-5"></path></svg>');
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }

    input[type="checkbox"] {
      @apply cursor-pointer overflow-hidden relative appearance-none w-4 h-4 border border-primary rounded-sm;
    }

    li {
      @apply flex items-start;

      p {
        @apply font-semibold;
      }
      > label {
        flex: 0 0 auto;
        margin-right: 0.5rem;
        user-select: none;
      }

      > div {
        flex: 1 1 auto;
      }
    }

    /* styles.css */

    ul[data-type="taskList"] {
      margin: 0;
    }
  }

  h1 {
    @apply text-4xl font-bold mb-8 leading-relaxed;
  }

  h2 {
    @apply text-2xl font-semibold mt-8 mb-4 leading-relaxed;
  }

  h3 {
    @apply text-xl font-semibold mt-6 mb-2 leading-relaxed;
  }

  h4 {
    @apply text-base font-semibold mt-4 mb-2;
  }

  h5 {
    @apply text-base font-semibold m-0;
  }

  h6 {
    @apply text-base font-semibold m-0;
  }

  p {
    @apply mb-2 leading-[1.75];
  }
  p:not(:first-child) {
    @apply mt-2;
  }

  a {
    @apply dark:text-[#7ab7ff] dark:hover:text-[#5e83b3] text-[#2964aa] hover:text-[#749ac8] no-underline;
  }

  ul {
    @apply list-disc;
  }
  ol {
    @apply list-decimal;
  }
  li::marker {
    @apply font-bold;
  }

  ol,
  ul {
    @apply mb-4 pl-[26px];
  }

  p + :where(ol, ul) {
    @apply mt-0;
  }

  p code {
    @apply bg-accent;
  }
  
  code {
    @apply text-sm py-[2.4px] px-[4.8px] rounded whitespace-pre-wrap;
  }
  pre {
    @apply bg-input/30 text-primary dark:text-primary p-4 overflow-x-auto;

    code {
      @apply whitespace-nowrap p-0 leading-relaxed;
    }

    code {
      white-space: pre !important;
    }
  }

  blockquote {
    @apply border-l-4 my-4  py-2 pl-6 italic  text-muted-foreground bg-accent/30;
  }

  hr {
    @apply border my-12;
  }

  /* Table-specific styling */
  table {
    @apply w-full mb-6 border-collapse overflow-hidden;

    /* let it auto-expand */
    table-layout: auto;
    border-collapse: collapse;
    margin: 0;

    /* allow natural growth based on content */
    /* width: auto !important; */
  }
  tr:not(:last-child) {
    @apply border-b;
  }

  td,
  th {
    @apply p-2;
    @apply whitespace-nowrap; /* prevent line-break */
    position: relative;

    > * {
      margin-bottom: 0;
    }
  }

  th {
    @apply bg-accent/70 font-semibold text-left;
  }

  td {
    @apply bg-background;
  }

  .selectedCell:after {
    background: var(--gray-2);
    content: "";
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    pointer-events: none;
    position: absolute;
    z-index: 2;
  }

  .column-resize-handle {
    @apply bg-accent -bottom-[2px] -right-[2px] top-0 absolute w-1 z-10;
  }

  .tableWrapper {
    margin: 1.5rem 0;
    overflow-x: auto;
  }

  .tableWrapper {
    margin: 1.5rem 0;
    overflow-x: auto;
  }

  &.resize-cursor {
    cursor: ew-resize;
    cursor: col-resize;
  }
  p.is-editor-empty::before {
    @apply text-muted-foreground/40 float-left h-0 pointer-events-none;
    content: attr(data-placeholder);
  }

  /* Placeholder (on every new line) */
  p.is-empty::before {
    @apply text-muted-foreground/40 float-left h-0 pointer-events-none;
    content: attr(data-placeholder);
  }
}
.tippy-arrow::before {
  @apply hidden;
}
.tippy-content {
  @apply bg-popover text-popover-foreground border shadow-md rounded-lg p-1 max-h-[300px] overflow-y-auto;
  padding: 4px !important;
}
.tippy-box {
  width: 256px;
  overflow: hidden !important;
  background-color: transparent !important;
  padding: 0 !important;
}
.tippy-content::-webkit-scrollbar {
  @apply w-1 h-1;
}
